header{
    border-bottom: 1px solid var(--border-color);
    padding: 1rem;
    
    .logo{
        object-fit: contain;
        width: 22%;
        height: 3rem;  
        padding-top: 0.5rem;
    }

    a.active{
        font-weight: bold;
    }
}
